@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HKGroteskWide-Black";
    src: url("../../public/fonts/HKGroteskWide-Black.otf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../../public/fonts/Roboto-Regular.ttf");
}

.bg-tmone {
    background: url("../../public/images/BG-01-Plain.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.no-animation__card {
    font-size: 5rem !important;
}

.flip-clock__piece {
    margin-left: 1em !important;
    margin-right: 1em !important;
}